/*------------ [_Reset_Styles] -----------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* ---------------Fonts----------------- */

@font-face {
  font-family: "The Godfather";
  src: 
    url("fonts/Godfather-custom.woff2") format("woff2"),
    url("fonts/Godfather-custom.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro";
  src: 
    url("fonts/Intro-custom.woff2") format("woff2"),
    url("fonts/Intro-custom.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Garet-Book";
  src: 
    url("fonts/Garet-Book.woff2") format("woff2"),
    url("fonts/Garet-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1, h3, h4, h5, h6 {
  font-family: "The Godfather";
  font-weight: 400;
  letter-spacing: 1px;
}

h2 {
  font-family: "Intro"; /* Specifying font-family for h2 elements */
}

/*===========rooot==========*/
:root {
  /* Colors */
  --white: #fff;
  --black: #151713;
  --red: #c81626;
}

/*=========UTILITIES===========*/

body {
  max-width: 2560px;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--black);
  color: var(--white);
  letter-spacing: -0.5px
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  color: var(--white);
  font-family: "Garet-Book", san-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  border: none;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

/* ---------Blikk Section------------- */
.blik-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #656262 0%, #30302f 40%, #151713 83%);
}

.blik-head {
  font-family: var(--body-font);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.blik-logo {
  width: 60px;
  height: 25px;
}

@media screen and (min-width: 768px) {
  .blik-section {
    padding: 8px;
  }
  .blik-head {
    font-size: 16px;
  }
  .blik-logo {
    width: 110px;
    height: 50px;
  }
}

/* ----------------Hamburger Menu-----------------*/
.hamburger-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.25rem;
  width: 2rem;
  cursor: pointer;
}

.nav-toggle .bar, .navlist .navlink {
  font-family: "The Godfather";
  }
  .navlist .navbutton {
  font-family: "Intro";
  }

.hamburger-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20rem;
  position: absolute;
  top: 8rem;
  padding: 1rem;
  z-index: 1;
  transform: translateY(-150%);
  transition: 0.5s;
  justify-content: space-around;
  background: var(--black);
  opacity: 0.95;
}

.active {
  transform: translateY(0);
}

.bar {
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background: var(--white);
  transition: 0.4s;
}

.change .bar {
  display: block;
  background: var(--red);
}

.change .b-one {
  transform: translateY(8px) rotate(45deg);
}

.change .b-two {
  opacity: 0;
}

.change .b-three {
  transform: translateY(-8.75px) rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

/* ----------------------------Navbar----------------------------*/

/* Make the navbar and hero banner full width and flexible */
.navbar,
.hero {
  width: 100%;
  box-sizing: border-box;
}

/* Make the navbar sticky to the top of the page on larger screens */
.navbar {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #151713;
  padding: 1rem;
}

/* Style the logo */
.logo {
  display: inline-block;
  width: 100px;
  height: 22px;
  background-image: url("images/logo/fatboss-online-casino-logo.webp");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 16px;
}

/* Style the navbar links and button */
.navlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navitem {
  margin: 0.5rem;
}

.navlink,
.navbutton {
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

.navlink {
  font-family: "The Godfather";
  font-size: 28px;
  font-weight: 400;
  color: var(--white);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbutton {
  display: flex;
  align-items: center;
  height: 2.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--body-font);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--white);
  padding: 0 8px;
  background-color: #c81626;
  border-radius: 8px;
  border: 1px solid #cdb42873;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* Style the language flags */
.select-container,
.select-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.selected,
.selected-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 2rem;
  padding: 0.35rem 0.5rem;
  background: transparent;
  cursor: pointer;
}

.selected .fa,
.selected-item .fa {
  font-size: 1.25rem;
  color: var(--white);
}

.select-list,
.select-dropdown {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 5rem;
  height: 4rem;
  padding: 0.5rem;
  background: transparent;
  border-top: 1px solid #fff3;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: 2rem;
}

.show {
  display: flex;
}

.wd-100 {
  width: 100%;
}

.flag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: var(--white);
}

.flag a {
  display: flex;
}

.flag img {
  height: 1.25rem;
  margin-right: 0.25rem;
}

.text,
.lang,
.lang-text,
.selected-text {
  font-weight: 500;
  font-size: 1rem;
  font-family: var(--body-font);
}

  /* Style the navbar on larger screens */
  /* Stack the links in the navbar vertically and make them full width on smaller screens */
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      flex-direction: row;
    }
    .navlist {
      flex-direction: row;
    }
    .navitem {
      margin-left: 1rem;
    }
  }

/* Hero banner----------------------------------------------------------*/

/* Make the hero banner a fixed size */
.hero {
  height: 500px; /* Adjust the height to your desired size */
  background-position: top left 30%; /* Anchor the left side of the image to the top of the hero banner*/
  background-size: cover; /* Fill the hero banner with the image */
  background-image: url("images/hero/online-casino-games-fat-boss-hero.webp");
}

/* Center the hero content vertically and horizontally */
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  padding: 2rem;
  color: white;
  text-align: center;
}

/* Style the hero header and subheader */
.hero-header {
  color: #ffffff;
  font-size: 112px;
  margin-bottom: 16px;
  line-height: 5.5rem;
}

.polish-hero-header {
  color: #ffffff;
  font-size: 65px;
  margin-bottom: 16px;
  line-height: 4rem;
}

.fat-boss {
  color: var(--red);
}

.hero-subheader {
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 32px;
}

.polish-hero-subheader {
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 32px;
}

/* Style the hero button */
.hero-button {
  color: #ffffff;
  font-size: 20px;
  font-family: var(--body-font);
  text-decoration: none;
  background-color: #617c7e;
  border-radius: 15px;
  border: none;
  padding: 12px;
  margin: 0 auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* Make the hero banner take up the full width of the viewport */
@media (min-width: 768px) {
  .hero {
    width: 100%;
    background-position: top left;
  }

  .hero-content {
    width: 60%;
  }

  .polish-hero-header {
    font-size: 80px;
    line-height: 5rem;
  }

  @media screen and (min-width: 1550px) {
    .hero-content {
      max-width: 1440px;
      width: 60%;
      margin: 0 auto;
    }

    .polish-hero-header {
      font-size: 112px;
      line-height: 6.5rem;
    }

    .hero-subheader,
    .polish-hero-subheader {
      font-size: 36px;
    }
  }
}

/* Main Content */
.main-content {
  background-color: var(--black);
}

/* --Promo section-- */
.promo-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  margin: 3rem 0rem;
  gap: 2rem;
}

.promo-text {
  width: 100%;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.promo-image {
  margin: 0;
}

.promo-image img {
  width: 400px;
  height: 500px;
}

.promo-head {
  color: var(--white);
  font-size: 48px;
  margin-bottom: 16px;
}

.promo-subHead {
  color: var(--white);
  font-size: 24px;
  margin-bottom: 32px;
}

.promo-para {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}

.promo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--body-font);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--white);
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 8px;
  background-color: #c81626;
  border-radius: 8px;
  border: 1px solid #cdb42873;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .promo-section {
    flex-direction: row;
    gap: 1rem;
    margin: 3rem 2rem;
  }

  .promo-text {
    width: 60%;
    text-align: left;
    padding: 0;
  }

  .promo-image {
    width: 40%;
    margin: 0;
  }

  .promo-image img {
    width: 390px;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
  }

  .promo-head {
    font-size: 68px;
  }

  .promo-subHead {
    font-size: 28px;
  }

  .promo-para {
    font-size: 28px;
  }
}

@media screen and (min-width: 1550px) {
  .promo-section {
    justify-content: flex-end;
    gap: 4rem;
  }

  .promo-image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

/*  -- Games section  */
.games-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  margin: 3rem 1.5rem;
}

.games-head {
  color: var(--white);
  font-size: 60px;
  text-align: left;
  line-height: 3.5rem;
  margin-bottom: 0.5rem;
}

.games-subHead {
  color: var(--white);
  font-size: 24px;
  margin-bottom: 28px;
  text-align: left;
}

.games-text {
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
}

@media screen and (min-width: 768px) {
  .games-section {
    margin: 3rem 2rem;
  }

  .games-text {
    font-size: 28px;
  }

  .games-head {
    font-size: 80px;
    line-height: 5rem;
  }

  .games-head,
  .games-subHead {
    text-align: center;
  }
}

@media screen and (min-width: 1550px) {
  .games-section {
    max-width: 1440px;
    margin: 3rem auto;
    text-align: center;
  }
}

/* GAMES Images */
.grid-images {
  background: var(--black);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 0;
}

.grid-images img {
  transition: all 0.5s;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.grid-images img:hover {
  transform: scale(0.9, 0.9);
}

@media screen and (min-width: 900px) {
  .grid-images {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* Offer Section */
.offer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  margin: 3rem 1.5rem;
  gap: 2rem;
}

.offer-image {
  background-image: url(./images/body/center.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  width: 100%;
}

.offer-text {
  width: 100%;
  display: grid;
  place-items: center;
}

.offer-head {
  color: var(--white);
  font-size: 60px;
  line-height: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
  text-align: center;
}

.offer-subHead {
  color: var(--white);
  font-size: 24px;
  margin-bottom: 24px;
}

.offer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--white);
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  background-color: #c81626;
  border-radius: 30px;
  border: 1px solid #cdb42873;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .offer-section {
    margin: 3rem 2rem;
  }
  .offer-image {
    min-height: 500px;
  }
}

/* Devices section */
.devices-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  padding-top: 2rem;
}

.devices-text {
  width: 100%;
  padding: 0 1.5rem;
}

.devices-head {
  color: var(--white);
  font-size: 55px;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

.devices-subHead {
  color: var(--white);
  font-size: 24px;
  margin-bottom: 16px;
}

.devices-image {
  height: 100%;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: auto;
}

.devices-image img {
  width: 300px;
  height: 450px;
}

.devices-text {
  font-weight: 400;
  text-transform: none;
}

.devices-para {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .devices-section {
    flex-direction: row;
    padding-top: 3rem;
  }

  .devices-head {
    font-size: 80px;
    line-height: 4rem;
    margin-bottom: 1rem;
  }

  .devices-text {
    padding: 0 2rem 2rem;
    width: 60%;
  }

  .devices-para {
    font-size: 28px;
  }

  .devices-image {
    width: 40%;
  }

  .devices-image img {
    width: 409px;
    height: 598px;
  }
}

@media screen and (min-width: 1550px) {
  .devices-image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0;
  }

  .devices-text {
    max-width: 1440px;
    margin: 0 auto;
  }
}

/* Review Section */
.review-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/bg-img/fatt-boss-pocker-chips.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3rem 1.5rem;
  gap: 2rem;
}

.review-text {
  width: 100%;
  text-align: center;
}

.review-head {
  color: var(--white);
  font-size: 60px;
  line-height: 3.5rem;
  margin-bottom: 0.5rem;
}

.review-subHead {
  color: var(--white);
  font-size: 24px;
  margin-bottom: 24px;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.review-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.review-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 200px;
  gap: 0.5rem;
  padding: 1rem;
  background: rgb(255 255 255 / 81%);
  border-radius: 50px;
}

.empty {
  display: none;
}

.wrap-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  width: 100%;
}

.wrap-subHead {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.75rem;
  border-radius: 50%;
}

.name-date .name,
.name-date .date,
.review-para {
  color: var(--black);
  font-size: 16px;
}

.star-img {
  width: 3.5rem;
  height: 3rem;
}

@media screen and (min-width: 768px) {
  .review-section {
    padding: 3rem 2rem;
  }

  .review-head {
    font-size: 80px;
    line-height: 5rem;
  }

  .reviews {
    display: flex;
    flex-direction: row;
  }

  .wrap-head {
    font-size: 18px;
  }

  .name-date .name,
  .name-date .date,
  .review-para {
    font-size: 18px;
  }

  .empty {
    height: 3rem;
    display: block;
  }

  .profile-img {
    width: 5rem;
    height: 5rem;
  }

  .star-img {
    width: 5rem;
    height: 4rem;
  }

  .review-wrap {
    width: 380px;
  }
}

/* Payment Section */
.payment-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/body/online-casino-bitcoin-slotmachine.webp);
  background-repeat: no-repeat;
  background-position: top right 18%;
  background-size: cover;
  padding: 3rem 1.5rem;
  gap: 2rem;
}

.payment-text {
  width: 100%;
}

.payment-head {
  color: var(--white);
  font-size: 60px;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

.payment-subHead {
  color: var(--white);
  font-size: 24px;
  margin-bottom: 16px;
}

.payment-text {
  font-weight: 400;
  text-transform: none;
}

.payment-para {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .payment-section {
    padding: 3rem;
    flex-direction: row;
    justify-content: flex-start;
    background-position: top right;
  }

  .payment-text {
    width: 60%;
  }

  .payment-head {
    font-size: 80px;
    line-height: 5rem;
  }

  .payment-para {
    font-size: 28px;
  }
}

@media screen and (min-width: 1550px) {
  .payment-text {
    margin: 0 auto;
  }
}

/* POP-UP Modal */
.popup-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
  right: 0rem;
  top: 83%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1rem;
  transform: scale(1.2);
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.show-popup {
  opacity: 1;
  transform: scale(1);
  -webkit-animation: bounceIn 0.6s linear;
  animation: bounceIn 0.6s linear;
}

@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

.popup-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 10rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 5rem;
  padding: 12px;
  background: rgba(21, 0, 0, 0.689);
  border-radius: 10px 0px 0px 10px;
}

.popup-text .popup-name {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Segoe UI", "san-serif";
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 0.5rem;
}

.popup-text .popup-bold {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.25rem;
}

.popup-figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #241416;
  background-image: linear-gradient(0deg, #241416 16%, #820903 40%);
  height: 5rem;
  padding: 12px;
  border-radius: 0px 10px 10px 0px;
}

.popup-figure .popup-name {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.popup-figure .popup-bold {
  font-family: var(--body-font);
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  .popup-text .popup-name,
  .popup-figure .popup-name {
    font-size: 1.25rem;
  }

  .popup-text .popup-bold {
    font-size: 1.45rem;
  }

  .popup-figure .popup-bold {
    font-size: 1.5rem;
  }
}

/* Footer */
footer {
  display: grid;
  place-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.footer-text {
  font-size: 16px;
  font-family: var(--alt-font);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 1rem;
}

.footer-span {
  color: var(--white);
  font-size: 22px;
  font-family: "Segoe UI", "san-serif";
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
}

.footer-logo {
  margin: 1rem;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-logo img {
  width: 3rem;
  height: 3rem;
}

.pg-rating {
  height: 2rem;
  padding: 0.15rem 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  color: var(--black);
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  footer {
    width: 90%;
  }
}
